name: Cron Action
on:
  schedule:
    - cron: "0 */12 * * *"
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          npm ci
          node index.js docs/epg.xml
          if [ -n "$(git status --porcelain)" ]; then
            git config user.name github-actions
            git config user.email github-actions@github.com
            git pull
            git add docs/epg.xml
            git commit -m "generated epg $(date '+%Y-%m-%d %H:%M:%S')"
            git push
          else
            echo "Nothing to commit"
          fi
